# Maven
target/
!target/*.jar
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# Git
.git/
.gitignore

# Docker
docker-compose.yml
.dockerignore
Dockerfile

# Other
README.md
*.log
.DS_Store


